.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 68px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    align-items: center;
}

.nav__black {
    background-color: #141414;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 100px;
    object-fit: contain;
    cursor: pointer;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 32px;
    object-fit: contain;
    border-radius: 4px;
    cursor: pointer;
}
