.row {
    color: white;
    margin-left: 20px;
    margin-bottom: 30px;
}

.row__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 120px;
    object-fit: contain;
    margin-right: 8px;
    width: 100%;
    transition: transform 450ms;
    border-radius: 4px;
    cursor: pointer;
}

.row__poster:hover {
    transform: scale(1.4);
    z-index: 100;
    opacity: 1;
}

.row__posterLarge {
    max-height: 280px;
}

.row__posterLarge:hover {
    transform: scale(1.2);
    z-index: 100;
    opacity: 1;
}
